<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqTmr4SJxHKmwOmbl9--3eCIfD-lwRCqo</string>
	<key>GCM_SENDER_ID</key>
	<string>126468648812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swapno</string>
	<key>PROJECT_ID</key>
	<string>tutorly-d069e</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorly-d069e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126468648812:ios:e1f71412f0da42f3588d49</string>
	<key>DATABASE_URL</key>
	<string>https://tutorly-d069e-default-rtdb.firebaseio.com</string>
</dict>
</plist>